@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
}

*{
font-family: 'Urbanist', sans-serif;
margin: 0;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} 

